<!DOCTYPE html>
<html ng-app="keno" ng-controller="MainController as vm">

<head>
	<title>Juego de Keno</title>

	<!-- build:css css/libs/angular-csp.min.css -->
	<link rel="stylesheet" href="/node_modules/angular/angular-csp.css" />
	<!-- endbuild -->
	<!-- build:css css/libs/bootstrap.min.css -->
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
	<!-- endbuild -->
	<!-- build:css css/libs/highlight.css -->
	<link rel="stylesheet" href="/node_modules/highlight.js/styles/github.css" />
	<!-- endbuild -->
	<!-- build:css css/libs/toastr.min.css -->
	<link rel="stylesheet" href="/node_modules/toastr/build/toastr.css" />
	<!-- endbuild -->
	<link rel="stylesheet" href="css/keno.css" />

</head>

<body ng-cloak="">

	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Keno</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse"  ng-if="vm.perfil">
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="vm.perfil"><a>Bienvenido <span ng-bind="vm.perfil.nickname"></span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" ng-click="vm.mostrarLista()">Lista de jugadores</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Acerca del proyecto</li>
							<li><a href="#" ng-click="vm.mostrarIntegrantes()">Integrantes</a></li>
							<li><a href="#" ng-click="vm.mostrarCodigoFuente()">C&oacute;digo fuente</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Operaciones</li>
							<li><a href="#" ng-click="vm.salir()">Salir</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container" ng-if="vm.perfil">
		<div class="row">
			<div class="col-md-6">
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Saldos</h3>
					</div>
					<div class="panel-body">
					
						<table class="table">
							<tbody>
								<tr>
									<th>Inicial</th>
									<td ng-bind="vm.perfil.saldoInicial | currency: 'Q'"></td>
								</tr>
								<tr>
									<th>Actual</th>
									<td ng-bind="vm.perfil.saldoActual | currency: 'Q'"></td>
								</tr>
							</tbody>
						</table>
					
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Apuesta</h3>
					</div>
					<div class="panel-body">
					
						<form name="vm.formApostar" novalidate="novalidate">
							<div class="form-group">
								<label for="apuesta">Cantidad:</label>
								<div class="input-group" ng-class="{ 'has-error': vm.formApostar.apuesta.$dirty && vm.formApostar.apuesta.$invalid }">
									<div class="input-group-addon">Q</div>
									<input type="number" class="form-control" id="apuesta" name="apuesta" ng-model="vm.apuesta" ng-min="1" ng-max="(vm.perfil.saldoActual > 40 ? 40 : vm.perfil.saldoActual)" required="required" ng-disabled="vm.jugando" />
								</div>
								<em ng-show="vm.formApostar.apuesta.$dirty && vm.formApostar.apuesta.$invalid" class="small text-danger">Debe ingresar una apuesta de Q1.00 a {{ (vm.perfil.saldoActual > 40 ? 40 : vm.perfil.saldoActual) | currency: 'Q' }}</em>
							</div>
							<div>
								<button type="button" class="btn btn-primary pull-right" ng-click="vm.jugar()" ng-disabled="vm.seleccionados != 10 || vm.perfil.saldoActual < vm.apuesta || vm.formApostar.apuesta.$invalid || vm.jugando">{{ vm.jugando ? 'Jugando...' : 'Jugar' }}</button>
							</div>
						</form>
					
					</div>
				</div>
				
				<div class="alert alert-warning" ng-show="vm.coincidencias != null">
					<p>Usted acert&oacute; con <strong>{{ vm.coincidencias }}</strong> n&uacute;meros.</p>
					<p ng-if="vm.ganancia > 0">&iexcl;Ha ganando <strong>{{ vm.ganancia | currency: 'Q' }}</strong>!</p>
					<div class="clearfix">
						<button type="button" class="btn btn-warning pull-right" ng-click="vm.nuevoJuego()">Nuevo juego</button>
					</div>
				</div>
				
			</div>
			<div class="col-md-6">

				<div class="numeros well">
					<p>Puede seleccionar un total de {{ 10 - vm.seleccionados }} numeros.</p>
					<ul>
						<li ng-repeat="numero in vm.numeros" ng-class="{ 'new-line': numero.valor == 0 }">
							<button type="button" ng-bind="numero.valor" class="btn" ng-class="vm.cssClass(numero)" ng-click="vm.seleccionar(numero)" ng-disabled="vm.desactivar(numero)" />
						</li>
					</ul>
					
				</div>

			</div>

		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Reglas para apostar</h3>
					</div>
					<div class="panel-body">
					
						<table class="table">
							<thead>
								<tr>
									<th>
										Aciertos
									</th>
									<th>
										Pago
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>3</th>
									<td>3 * Apuesta</td>
								</tr>
								<tr>
									<td>4</th>
									<td>3 * Apuesta</td>
								</tr>
								<tr>
									<td>5</th>
									<td>5 * Apuesta</td>
								</tr>
								<tr>
									<td>6</th>
									<td>6 * Apuesta</td>
								</tr>
								<tr>
									<td>7</th>
									<td>70 * Apuesta</td>
								</tr>
								<tr>
									<td>8</th>
									<td>80 * Apuesta</td>
								</tr>
								<tr>
									<td>9</th>
									<td>90 * Apuesta</td>
								</tr>
								<tr>
									<td>10</th>
									<td>1000 * Apuesta</td>
								</tr>
							</tbody>
						</table>
					
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<script type="text/ng-template" id="Ingresar.html">
		<form name="vm.ingresarForm" ng-submit="vm.aceptar()" novalidate="novalidate">
			<div class="modal-header bg-primary">
				<h3 class="modal-title">Ingresar</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="nickname">Nickname:</label>
					<div class="input-group">
						<input type="text" id="nickname" class="form-control" placeholder="nickname" ng-model="vm.nickname" ng-disabled="vm.trabajando" />
						<span class="input-group-btn">
							<button class="btn btn-warning" type="button" ng-disabled="vm.desactivarIdentificar()" ng-click="vm.identificar()" required>Identificarme</button>
						</span>
					</div>
				</div>
				<div class="form-group" ng-if="!vm.desactivarSaldoInicial()" ng-class="{'has-error': vm.ingresarForm.saldoInicial.$dirty && vm.ingresarForm.saldoInicial.$invalid }">
					<label for="saldo-inicial">Saldo Inicial</label>
					<div class="input-group">
						<div class="input-group-addon">Q</div>
						<input type="number" id="saldo-inicial" name="saldoInicial" class="form-control" placeholder="Saldo Inicial" ng-model="vm.saldoInicial" ng-disabled="vm.desactivarSaldoInicial()" ng-min="100" required="required" />
					</div>
					<em class="small text-danger" ng-show="vm.ingresarForm.saldoInicial.$dirty && vm.ingresarForm.saldoInicial.$invalid">Debe ingresar un saldo inicial mayor o igual a Q100.00</em>
				</div>
			</div>
			<div class="modal-footer bg-gray">
				<button class="btn btn-primary" type="sumbit" ng-disabled="vm.desactivarAceptar() || vm.ingresarForm.$invalid" ng-if="!vm.desactivarSaldoInicial()">Aceptar</button>
			</div>
		</form>
    </script>
	
	<script type="text/ng-template" id="Lista.html">
		<div class="modal-header bg-primary">
			<h3 class="modal-title">Listado de Registros</h3>
		</div>
		<div class="modal-body">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Nickname</th>
						<th class="text-right">Saldo Inicial</th>
						<th class="text-right">Saldo Actual</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="registro in vm.registros">
						<td>{{ $index + 1 }}</td>
						<td>{{ registro.nickname }}</td>
						<td class="text-right">{{ registro.saldoInicial | currency: 'Q' }}</td>
						<td class="text-right">{{ registro.saldoActual | currency: 'Q' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="modal-footer bg-gray">
			<button class="btn btn-default" type="button" ng-click="vm.cerrar()">Cerrar</button>
		</div>
    </script>
	
	<script type="text/ng-template" id="Integrantes.html">
		<div class="modal-header bg-primary">
			<h3 class="modal-title">Integrantes del grupo</h3>
		</div>
		<div class="modal-body">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Nombre</th>
						<th>Carnet</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="integrante in vm.integrantes">
						<td>{{ $index + 1 }}</td>
						<td>{{ integrante.nombre }}</td>
						<td>{{ integrante.carnet }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="modal-footer bg-gray">
			<button class="btn btn-default" type="button" ng-click="vm.cerrar()">Cerrar</button>
		</div>
    </script>
	
	<script type="text/ng-template" id="Fuentes.html">
		<div class="modal-header bg-primary">
			<h3 class="modal-title">C&oacute;digo Fuente</h3>
		</div>
		<div class="modal-body">
			<uib-tabset>
				<uib-tab heading="servidor.php">
					<div hljs hljs-source="vm.servidorPhp" hljs-language="php"></div>
				</uib-tab>
				<uib-tab heading="index.js">
					<div hljs hljs-source="vm.indexJs" hljs-language="js"></div>
				</uib-tab>
				<uib-tab heading="index.html">
					<div hljs hljs-source="vm.indexHtml" hljs-language="html"></div>
				</uib-tab>
				<uib-tab heading="keno.css">
					<div hljs hljs-source="vm.kenoCss" hljs-language="css"></div>
				</uib-tab>
			</uib-tabset>
		</div>
		<div class="modal-footer bg-gray">
			<button class="btn btn-default" type="button" ng-click="vm.cerrar()">Cerrar</button>
		</div>
    </script>

	<!-- build:js js/libs/angular.min.js -->
	<script src="/node_modules/angular/angular.js"></script>
	<!-- endbuild -->
	<!-- build:js js/libs/jquery.min.js -->
	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<!-- endbuild -->
	<!-- build:js js/libs/bootstrap.min.js -->
	<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbuild -->
	<!-- build:js js/libs/ui-bootstrap-tpls.min.js -->
	<script src="/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
	<!-- endbuild -->
	<!-- build:js js/libs/toastr.min.js -->
	<script src="/node_modules/toastr/build/toastr.min.js"></script>
	<!-- endbuild -->
	<!-- build:js js/libs/angular-highlight.min.js -->
	<script src="/src/js/libs/highlight.pack.js"></script>
	<script src="/node_modules/angular-highlightjs/angular-highlightjs.min.js"></script>
	<!-- endbuild -->
	
	<script src="js/index.js"></script>

</body>

</html>